<%= render 'shared/image_navbar' %>
<div class="container-fluid" style="margin-top: 40px">
	<div class="row-fluid">

		<div class="offset1 span11">
			<!--Body content-->
			<div class="hr">
			<img src="/assets/Preppy-icon.png" alt="image" />
				<h2>Employee Management</h2>
			</div>
			<div id="app-back-button" class="span10">
				<a onclick="history.back(); return false;" href="#" id= "bk">
					<img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
				</a>
			</div>
			<hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
			<table border="0" width="800" height="100" align='center'>
				<tr>
					<td><a href='/employee/admission1'><span><font size="3"><b>Employee Admission
					</b></font><br></span></a><i>
					Employee admissions form</i></td>

					<td><a href='#'><span><font size="3"><b>Employee Subject Association</b></font></span></a>
						<br><i>
						Assign an employee with one or more subjects</i></td>
					</tr>
				</table> 
			</div>
		</div>
	</div>