<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Triton</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li class="active">
          <a href="/user/dashboard"><i class="icon-home icon-white"></i> Dashboard</a>
          </li>

        </ul>
        <form class="navbar-search pull-left" style="text-align: center">
          <input type="text" class="search-query" placeholder="Search">
        </form>



        <ul class="nav pull-right">
          <% if current_user %>
          <div class="btn-group">
            <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> <%= current_user.user_name %></a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="icon-pencil icon-white"></i> Edit</a></li>
              <li><a href="#"><i class="icon-trash icon-white"></i> Delete</a></li>
              <li><a href="#"><i class="icon-ban-circle icon-white"></i> Ban</a></li>
              <li class="divider"></li>
              <li><a href="/sessions/current" data-method="delete" rel="nofollow"><i class="icon-off icon-white"></i> Logout</a></li>
            </ul>
          </div>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="row offset2">
  <ul class="ca-menu">
    <li>
      <a href="/student/admission1" title="Admission">
        <span class="ca-icon"><img alt="Admission" height="100" src="/assets/admission.jpg" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Admission</h2>
          <h3 class="ca-sub">Admission</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Student Details">
        <span class="ca-icon"><img alt="Student-details" height="100" src="/assets/student-details.jpg" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Student details</h2>
          <h3 class="ca-sub">Student details</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="/users#index" title="Manage Users">
        <span class="ca-icon"><img alt="Manage-users" height="100" src="/assets/manage-users.jpg" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Manage users</h2>
          <h3 class="ca-sub">Manage users</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="/articles#index" title="Manage News">
        <span class="ca-icon"><img alt="Manage-news" height="100" src="/assets/manage-news.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Manage news</h2>
          <h3 class="ca-sub">Manage news</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Reminder">
        <span class="ca-icon"><img alt="Reminder" height="100" src="/assets/reminder.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Reminder</h2>
          <h3 class="ca-sub">Reminder</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Human Resources">
        <span class="ca-icon"><img alt="Human-resource" height="100" src="/assets/human-resource.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Human Resource</h2>
          <h3 class="ca-sub">Human Resource</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Attendance">
        <span class="ca-icon"><img alt="Attendance" height="100" src="/assets/attendance.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Attendance</h2>
          <h3 class="ca-sub">Attendance</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Examination">
        <span class="ca-icon"><img alt="Examination" height="100" src="/assets/examination.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Examination</h2>
          <h3 class="ca-sub">Examination</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Time Table">
        <span class="ca-icon"><img alt="Timetable" height="100" src="/assets/timetable.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Time table</h2>
          <h3 class="ca-sub">Time table</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Finance">
        <span class="ca-icon"><img alt="Finance" height="100" src="/assets/finance.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Finance</h2>
          <h3 class="ca-sub">Finance</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Setting">
        <span class="ca-icon"><img alt="Settings" height="100" src="/assets/settings.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Setting</h2>
          <h3 class="ca-sub">Setting</h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#" title="Complaint">
        <span class="ca-icon"><img alt="Complaint" height="100" src="/assets/human-resource.png" width="100" /></span>
        <div class="ca-content">
          <h2 class="ca-main">Complaint</h2>
          <h3 class="ca-sub">Complaint</h3>
        </div>
      </a>
    </li>
  </ul>
</div>
