<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Educational ERP
      </a>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <!-- MENU START -->
<div id="menu">
  <ul class="group" id="menu_group_main">
    <li class="item first" id="one"><a href="/dashboard" class="main current"><span class="outer"><span class="inner dashboard">Dashboard</span></span></a></li>
        <li class="item middle" id="two"><a href="/student/admission1" class="main"><span class="outer"><span class="inner content">Student</span></span></a></li>
        <li class="item middle" id="three"><a href="/employee/human_resources" class="main"><span class="outer"><span class="inner reports png">HR</span></span></a></li>
        <li class="item middle" id="four"><a href="/users" class="main"><span class="outer"><span class="inner users">Users</span></span></a></li>
    <li class="item middle" id="five"><a href="/tickets" class="main"><span class="outer"><span class="inner media_library">Support</span></span></a></li>        
    <li class="item middle" id="six"><a href="/academic_counselor" class="main"><span class="outer"><span class="inner event_manager">Conselor</span></span></a></li>        
    <li class="item middle" id="seven"><a href="/student_complaint" class="main"><span class="outer"><span class="inner newsletter">Leadership</span></span></a></li>        
    <li class="item last" id="eight"><a href="/batches/new" class="main"><span class="outer"><span class=" settings">Settings</span></span></a></li>        
    </ul>
</div>
<!-- MENU END -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li>

          </li>
        </ul>
        
       
        </div>
      </div>
    </div>
  </div>
  <div id="content_area"></div>