<%= render 'shared/navbar' %>
<div class="container-fluid">
	<div class="row-fluid">

		<div class="offset1 span11">
			<!--Body content-->
			<div class="hr">
  <img src="/assets/Preppy-icon.png" alt="image" />
  <h2>HR Management</h2>
</div>
			<div id="app-back-button" class="span10">
				<a onclick="history.back(); return false;" href="#" id= "bk">
					<img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
				</a>
			</div>
			<hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
			<table border="0" width="800" height="400" align='center'>
				<tr>
					<td><a href='#'><span><font size="3"><b><i>Setting</i>
					</b></font><br></span></a><i>
					HR Setting</i></td>

					<td><a href='/employee/employee_management'><span><font size="3"><b><i>Employee Management</i></b></font></span></a>
						<br><i>
						Manage All Employees</i></td>
					</tr>
					<tr>
						<td><a href='#'><span><font size="3"><b><i>Employee Leave Management</i></b></font></span></a>
							<br><i>
							Manage all employee attendance and leaves</i></td>

							<td><a href='#'><span><font size="3"><b><i>Create Payslip</i></b></font></span></a>
								<br><i>
								Create employee monthly payslips</i>
							</td>
						</tr>
						<tr>
							<td><a href='#'><span><font size="3"><b><i>Employee search</i></b></font></span></a>
								<br>
								<i>Search for employees</i></td>

								<td><a href='#'><span><font size="3"><b><i>Employee payslip</i></b></font></span></a>
									<br><i>
									View department wise payslip</i>
								</td>
							</tr>
						</table> 
					</div>
				</div>
			</div>