<div class="gridcontainer clearfix">
	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="/student/admission1">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Admission</span><img src="assets/korganizer-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#branding">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_green">
						<span>Student details</span><img src="assets/Teacher-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="/users">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_red">
						<span>Manage users</span><img src="assets/Users-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_orange">
						<span>Manage news</span><img src="assets/news-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_purple">
						<span>Reminders</span><img src="assets/Inbox-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_purple">
						<span>Human resource</span><img src="assets/Preppy-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_orange">
						<span>Attendance</span><img src="assets/checklist-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_red">
						<span>Examination</span><img src="assets/study-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_green">
						<span>Time table</span><img src="assets/Actions-view-calendar-timeline-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Finance</span><img src="assets/vault-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Settings</span><img src="assets/Settings-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_green">
						<span>Support</span><img src="assets/Occupations-Technical-Support-Representative-Male-Light-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>


</div>