<%= render 'static_pages/settings_sidebar' %>
<div class="span9">
	<div class="hr">
		<img src="/assets/gnome_network_preferences.png" alt="image" />
		<h3>Settings</h3>
	</div>

	<div id="app-back-button" style="padding-right: 50px;">
		<a onclick="history.back(); return false;" href="#" id= "bk">
			<img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
		</a>
	</div>

	<hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 975px; "></hr>
	<h4>Batches & Courses Settings</h4>
	<div style="padding-left: 30px; padding-top: 10px;">
	<a href="/batches/new">
		<img src="/assets/batches_icon.png" alt="image" style="padding-left: 33px; margin-bottom:-10px;" />
		<h5 style="padding-left: 10px;">Manage Batches</h5>
	</a>
	</div>
	<hr style="color: #B19C9C; width: 975px; "></hr>