<%= render 'shared/image_navbar' %>
<div class="container-fluid" style="margin-top: 40px">
	<div class="row-fluid">

 		<div class="offset1 span11">
			<!--Body content-->
			<div class="hr">
  <img src="/assets/student-activity.png" alt="image" />
  <h2>Student Activities</h2>
</div>
			<div id="app-back-button" class="span10">
				<a onclick="history.back(); return false;" href="#" id= "bk">
					<img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
				</a>
			</div>
			<hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
			<table border="0" width="800" height="225" align='center'>
				<tr>
					<td>
						<a href='#'>
							<span>
								<font size="3">
									<b>Sports activity</b>
								</font><br>
							</span>
						</a>
						<i>Sports activity</i>
					</td>

					<td>
						<a href='/employee/employee_management'>
							<span>
								<font size="3">
									<b>Artistic activity</b>
								</font>
							</span>
						</a><br>
						<i>Artistic activity</i>
					</td>
				</tr>
				<tr>
					<td>
						<a href='#'>
							<span>
								<font size="3">
									<b>Cultural activity</b>
								</font>
							</span>
						</a><br>
						<i>Cultural activity</i>
					</td>
				</tr>
			</table> 
		</div>
	</div>
</div>