	<%= render 'shared/image_navbar' %>
	<div class="container-fluid" style="margin-top: 40px">
		<div class="row-fluid">

			<div class="offset1 span11">
				<!--Body content-->
				<div class="hr">
					<img src="/assets/student-activity.png" alt="image" />
					<h2>Student Union</h2>
				</div>
				<div id="app-back-button" class="span10">
					<a onclick="history.back(); return false;" href="#" id= "bk">
						<img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
					</a>
				</div>
				<hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
				<table border="0" width="800" height="100" align='center'>
					<tr>
						<td><a href='/student_union/activities'><span><font size="3"><b>Student Activities
						</b></font><br></span></a><i>
						Activities which are available for students</i></td>

						<td><a href='/events'><span><font size="3"><b>Events
						</b></font><br></span></a><i>
						Students will be informed about events</i></td>
					</tr>
				</table> 
						</div>
					</div>
				</div>