<%= render 'shared/navbar' %>
<div align="center" class="offset3 span7 well">
<%= current_user.first_name %>,

Thank you for contacting us.
A support ticket request has been created and a representative will be getting back to you shortly if necessary.

Support Team 
</div>