<%= render 'batch_counselor_supervisors/counselor_sidebar' %>
<div class="span9">
  <!--Body content-->
  <div class="hr">
    <img src="/assets/Blue-Book-icon.png" alt="image" />
    <h3 class="page-title">Batches List</h3>
  </div>
  <div id="app-back-button" style="padding-right: 50px;">
    <a onclick="history.back(); return false;" href="#" id= "bk">
      <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
    </a>
  </div>
  <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width:  975px;"></hr>
  <div>
  <div>
  <table class="table table-bordered table-hover">
        <thead bgcolor="#B7B7B7"><th>Batch</th><th>Section</th></thead>
        <tbody>
          <% @counselor_batches.each do |bc| %>
          <% bc.batch.student_classes.each do |bs| %>
          
          
          <tr>
            <td><%= bc.batch.batch_language %></td>
            <td><%= link_to bs.name, [bc, bs] %></td>

          </tr>
          <% end %>
          <% end %>
          <tfoot bgcolor="#B7B7B7"><td></td><td></td></tfoot>
        </tbody>
      </table>
  </div>
</div>