<div class="span3">
    <ul class="nav nav-tabs nav-stacked main-menu" data-spy="affix" style="width:300px">
    <li><a href="/employees?employee=employee_status">Human Resources Dashboard</a></li>
  <li class="nav-header">Employee Management</li>
  <li><a href="/employees/new">Employee Admission</a></li>
  <li><a href="/employees?employee=employee_list">Employees List</a></li>
</ul>
  </div>