<div class="span3">
    <ul class="nav nav-tabs nav-stacked main-menu" data-spy="affix" style="width:300px">
    <li><a href="/students?student=student_status">Student Management Dashboard</a></li>
  <li class="nav-header">Manage Students</li>
  <li><a href="/students/new">Create New Student</a></li>
  <li><a href="/students?student=students_list">Students List</a></li>
</ul>
  </div>