<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Triton</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li class="active">
            <a href="/user/dashboard"><i class="icon-home icon-white"></i> Dashboard</a>
          </li>
        </ul>
        <form class="navbar-search pull-left" style="text-align: center">
          <input type="text" class="search-query" placeholder="Search">
        </form>
        <ul class="nav pull-right">
          <% if current_user %>
              <div class="btn-group">
                <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> <%= current_user.user_name %></a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-pencil icon-white"></i> Edit</a></li>
                  <li><a href="#"><i class="icon-trash icon-white"></i> Delete</a></li>
                  <li><a href="#"><i class="icon-ban-circle icon-white"></i> Ban</a></li>
                  <li class="divider"></li>
                  <li><a href="/sessions/current" data-method="delete" rel="nofollow"><i class="icon-off icon-white"></i> Logout</a></li>
                </ul>
              </div>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
<h1>Articles</h1>
<div class="container">
  <%= grid(@articles_grid, show_filters: :when_filtered) do |g|
    g.column name:  'Name', attribute: 'name', :auto_reload => true
    g.column name:  'Publish Date' do |article|
      time_ago_in_words(article.created_at)
    end
    g.column name:  'Posted by', attribute: 'user_name', model: 'User', auto_reload: true do |article|
      article.user.user_name if article.user
      end
    g.column name: 'Total comments' do |article|
      article.comments.count
    end
    g.column do |article|
      link_to('Read this thread', article_path(article))
    end
  end -%>
  <p><%= link_to 'New Article', new_article_path %></p>
</div>