<%= render 'shared/navbar' %>
<h1>Articles</h1>
<div class="container">

  <%= grid(@articles_grid, show_filters: :when_filtered) do |g|
    g.column name:  'Name', attribute: 'body', :auto_reload => true
    g.column name:  'Publish Date' do |article|
      time_ago_in_words(article.created_at)
    end
    g.column name:  'Posted by', attribute: 'user_name', model: 'User', auto_reload: true do |article|
      article.user.user_name if article.user
    end
    g.column name: 'Total comments' do |article|
      article.comments.count
    end
    g.column do |article|
      link_to('Read this thread', article_path(article))
    end
    end -%>
    <button class="btn btn-success" type="submit" onclick="location.href='/articles/new';">New Article</button>
  </div>