<%= render 'shared/navbar' %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="sidebar-nav">
				<div class="well" style="width:200px; padding: 8px 0;">
					<ul class="nav nav-list">
						<li class="nav-header">Control Panel</li>
						<li><a href="#"><i class="icon-home"></i> Dashboard</a></li>
						<li><a href="#"><i class="icon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
						<li><a href="#"><i class="icon-comment"></i> Comments <span class="badge badge-info">10</span></a></li>
						<li><a href="#"><i class="icon-user"></i> Members</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-comment"></i> Settings</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="span10">
			<h2>New article</h2>
			<span  class="badge badge-warn">blank</span>
				<p><%= render 'form' %></p>
				<small><cite title="Source Title">blank</cite></small>
			<div>
				<span class="badge badge-success">blank</span><div class="pull-right"><span class="badge badge-info">blank</span></div>
			</div>
			<hr>
			<%= link_to 'Back', articles_path %>
		</div>
	</div>
</div>