<div class="span3">
    <ul class="nav nav-tabs nav-stacked main-menu" data-spy="affix" style="width:300px">
  <li class="nav-header">Academic Counselor Dashboard</li>
  <li><a href="/guidance_supervisors/new">Assign New Advisors</a></li>
  <li><a href="/guidance_supervisors">Advisors List</a></li>
  <li class="nav-header">Configuration</li>
  <li><a href="#">Employees Configuration</a></li>
  <li><a href="#">Batches Configuration</a></li>
</ul>
  </div>