<div class="span3">
    <ul class="nav nav-tabs nav-stacked main-menu" data-spy="affix" style="width:300px">
  <li class="nav-header">Users Management</li>
  <li><a href="/users/new">New User</a></li>
  <li><a href="/users">Users List</a></li>
</ul>
  </div>