<%= render 'shared/navbar' %>
<h1>Listing users</h1>
<div class="container">
  <%= grid(@users_grid, show_filters: :when_filtered) do |g|
    g.column name:  'ID', attribute: 'id', filter: false
    g.column name:  'Username', attribute: 'user_name'
    g.column name:  'First Name', attribute: 'first_name'
    g.column name:  'Last Name', attribute: 'last_name'
    g.column name:  'E-mail', attribute: 'email'
    g.column name:  'Role', attribute: 'name', model: 'Role' do |user|
      user.roles.collect{|role| role.name}.to_sentence
    end
    g.column name: 'Profile'  do |user|
      link_to('View', user_path(user))
    end
    g.column name: 'Edit' do |user|
      link_to('Update', edit_user_path(user))
    end
    g.column  do |user|
      if can? :destroy, user
       link_to('Delete', user, method: :delete, data: { confirm: 'You sure?' })
    end
  end
  end -%>
  <% if can? :create, @user %>
  <%= link_to 'Add new user', '/users/new' %>
  <% end %>
</div>