<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8" align="center">
			<!--Body content-->
			<% if can? :manage, Student %>
			<div class="gridcontainer clearfix">
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="/student/admission1">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Student Admission</span><img src="assets/korganizer-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if can? :read, Student %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="/students">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Student details</span><img src="assets/Teacher-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "student" || current_user.user_type == "employee" || current_user.user_type == "parent" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="/my_profile">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>My Profile</span><img src="assets/Student-id-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if can? :manage, Users %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="/users">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Manage users</span><img src="assets/Users-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if (can? :manage, Article) || (can? :read, Article) %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="/articles">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Manage news</span><img src="assets/news-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="<%= user_messages_path(current_user, :mailbox=>:inbox) %>">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Inbox</span><img src="assets/Inbox-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>

				<% if can? :read, Employee %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="/employee/human_resources">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Human resources</span><img src="assets/Preppy-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "admin" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="#software">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Attendance</span><img src="assets/checklist-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "admin" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="#software">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Examination</span><img src="assets/study-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "admin" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="#software">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Time table</span><img src="assets/Actions-view-calendar-timeline-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "admin" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="#software">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Finance</span><img src="assets/vault-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "student" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="/support">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Support Center</span><img src="assets/Occupations-Technical-Support-Representative-Male-Light-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if (current_user.user_type == "admin") || (current_user.has_role? :ticket_manager) || (current_user.has_role? :ticket_assigner) %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="/tickets">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Support Center</span><img src="assets/Occupations-Technical-Support-Representative-Male-Light-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "admin" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="#software">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Student leader</span><img src="assets/boss-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "admin" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="#software">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Academic Guide</span><img src="assets/Manager-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

				<% if current_user.user_type == "admin" %>
				<div class="grid_3">
					<div class="fmcircle_out">
						<a href="#software">
							<div class="fmcircle_border">
								<div class="fmcircle_in">
									<span>Settings</span><img src="assets/Settings-icon.png" alt="" />
								</div>
							</div>
						</a>
					</div>
				</div>
				<% end %>

			</div>
		</div>
	</div>
</div>