    <div class="container-fluid">
    <div class="row-fluid">
   
    <div class="span12">
    <!--Body content-->
    <% if can? :manage, Student %>
<div class="gridcontainer clearfix">
	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="/student/admission1">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Student Admission</span><img src="assets/korganizer-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>
	<% end %>


	<% if can? :read, Student %>
	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#branding">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Student details</span><img src="assets/Teacher-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>
	<% end %>

	<% if can? :manage, Users %>
	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="/users">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Manage users</span><img src="assets/Users-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>
	<% end %>
	<% if (can? :manage, Article) || (can? :read, Article) %>
	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="/articles">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Manage news</span><img src="assets/news-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>
	<% end %>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="<%= user_messages_path(current_user, :mailbox=>:inbox) %>">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Inbox</span><img src="assets/Inbox-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="/employee/human_resources">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Human resources</span><img src="assets/Preppy-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Attendance</span><img src="assets/checklist-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Examination</span><img src="assets/study-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Time table</span><img src="assets/Actions-view-calendar-timeline-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Finance</span><img src="assets/vault-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="#software">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Settings</span><img src="assets/Settings-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>

	<% if can? :read, Ticket %>
	<div class="grid_3">
		<div class="fmcircle_out">
			<a href="/support">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_blue">
						<span>Support Center</span><img src="assets/Occupations-Technical-Support-Representative-Male-Light-icon.png" alt="" />
					</div>
				</div>
			</a>
		</div>
	</div>
	<% end %>
</div>
    </div>
    </div>
    </div>