<div class="span3">
    <ul class="nav nav-tabs nav-stacked main-menu" data-spy="affix" style="width:300px">
  <li class="nav-header">Student Leadership Dashboard</li>
  <li><a href="/guidance_supervisors/new">Assign New Leaders</a></li>
  <li><a href="/guidance_supervisors">Leaders List</a></li>
  <li class="nav-header">Student Area</li>
  <li><a href="/guidance_supervisors/new">Section's Leader</a></li>
  <li><a href="/guidance_supervisors">Contact Leader</a></li>
  <li class="nav-header">Configuration</li>
  <li><a href="#">Employees Configuration</a></li>
  <li><a href="#">Batches Configuration</a></li>
</ul>
  </div>