<%= render 'batch_leadership_supervisors/leadership_sidebar' %>
<div class="span9">
	<!--Body content-->
			<div class="hr">
				<img src="/assets/Manager-icon.png" alt="image" />
				<h3>Student Leadership</h3>
			</div>
			<div id="app-back-button" style="padding-right: 50px;">
    <a onclick="history.back(); return false;" href="#" id= "bk">
      <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
    </a>
  </div>
			<hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 975px; "></hr>
	<div style="padding-left: 30px; padding-top: 10px; float: left; padding-right: 50px;">
	<a href="/leadership_supervisors/new">
		<img src="/assets/icon_csupervisor.png" alt="image" style="padding-left: 33px; margin-bottom:-10px;" />
		<h5 style="padding-left: 0px;">Create Supervisor</h5>
	</a>
	</div>
	<div style="padding-left: 30px; padding-top: 10px; float: left; padding-right: 50px;">
	<a href="/leadership_leaders/new">
		<img src="/assets/icon_advisor.png" alt="image" style="padding-left: 25px; margin-bottom:-10px;" />
		<h5 style="padding-left: 0px;">Create Leader</h5>
	</a>
	</div>
	<div style="padding-left: 30px; padding-top: 10px;float: left; padding-right: 50px;">
	<a href="/leadership_batches/new">
		<img src="/assets/batches_icon.png" alt="image" style="padding-left: 20px; margin-bottom:-10px;" />
		<h5 style="padding-left: 10px;">Add Batches</h5>
	</a>
	</div>
	<div style="padding-left: 30px; padding-top: 10px; float: left; padding-right: 50px;">
	<a href="/batch_leadership_supervisors/new">
		<img src="/assets/icon_cbatch.png" alt="image" style="padding-left: 33px; margin-bottom:-10px;" />
		<h5 style="padding-left: 0px;">Assign Batch Leaders</h5>
	</a>
	</div>
	<hr style="color: #B19C9C; width: 975px; "></hr>