<div class="span3">
    <ul class="nav nav-tabs nav-stacked main-menu" data-spy="affix" style="width:300px">
  <li class="nav-header">Batches & Courses</li>
  <li><a href="#">Create Batch</a></li>
</ul>
  </div>