<br><br><footer id="footer">
  <div class="container" style="padding-top: -10px;"> 
    
    <div class="row-fluid">
      <div class="span12">
        <div class="span8">
          <a href="#"><font color="#fff">Terms of Service</font></a>
          <font color="#fff">&nbsp;|&nbsp;</font>
          <a href="#"><font color="#fff">Privacy</font></a>
          <font color="#fff">&nbsp;|&nbsp;</font>
          <a href="#"><font color="#fff">Security</font></a>
        </div>
        <div class="span4">
          <p class="muted pull-right"><font color="#fff"><i>© 2013 All rights reserved</i></font></p>
        </div>
      </div>
    </div>
  </div>
</footer>