<div class="span3">
    <ul class="nav nav-tabs nav-stacked main-menu" data-spy="affix" style="width:300px">
  <li class="nav-header">Main</li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">Dashboard</a></li>
  <li class="nav-header">Next Section</li>
  <li><a href="#">Sample Section</a></li>
  <li><a href="#">Sample Section</a></li>
  <li><a href="#">Sample Section</a></li>
  <li><a href="#">Sample Section</a></li>
  <li class="nav-header">Third Section</li>
  <li><a href="#">Third Sample Section</a></li>
  <li><a href="#">Third Sample Section</a></li>
  <li><a href="#">Third Sample Section</a></li>
</ul>
  </div>